################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MagnificentSuperHeroes/Client/obj
/MagnificentSuperHeroes/Server/obj
/MagnificentSuperHeroes/Shared/obj
/MagnificentSuperHeroes/Client/bin/Debug/net7.0
/MagnificentSuperHeroes/Server/bin/Debug/net7.0
/MagnificentSuperHeroes/Shared/bin/Debug/net7.0
