################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MagnificentSuperHeroes/Client/obj
/MagnificentSuperHeroes/Server/obj
/MagnificentSuperHeroes/Shared/obj
